@import url("https://use.typekit.net/kee4zhb.css");

body {
  margin: 0;
  overflow-x: hidden;
}

.header {
  width: 100%;
  display: grid;
  position: sticky;
  grid-template-columns: 0.25fr 4fr 0.25fr;
  background-color: white;
  top: 0;
  z-index: 2;
}

.sidebar {
    height: 100%;
    width: 0; /* this is going to have value once button is clicked*/
    position: fixed;
    z-index: 2;
    top: 71px;
    left: 0;
    background-color: #29347A;
    overflow-x: hidden;
    padding-top: 20px;
    transition: 0.3s;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "paralucent";
    font-weight: 300;
    font-size: 16px;
    color: #C6DCED;
    display: block;
    transition-duration: 0.3s;
}

.header-border {
  display: grid;
  grid-template-rows: 55px 10px;
  padding-top: 10px;
  box-shadow: 0 8px 5px -6px grey;/* drop shadow for the header*/
}

.header-center {
  display: flex;
  justify-content: space-between;
  align-items: center; /* aligns the elemnts across a central axis*/
}

.work-nav {
  font-family: "paralucent";
  font-weight: 300;
  font-size: 18px;
  text-decoration: none;
  color: #29347A;
}

.home {
  display: none;
}

.home-small {
  font-family: "paralucent-condensed";
  font-weight: bold;
  font-size: 30px;
  color: #29347A;
  text-decoration: none;
  }

.filter-nav {
  font-family: "paralucent";
  font-weight: 300;
  font-size: 16px;
  text-decoration: none;
  color: #29347A;
}

.border {
  border-bottom: 4px solid #29347A;
}

.header-left {
/*The spacer on the left*/
}

.header-border {
  /*The spacer on the left*/
}

.header-right {
  /*The spacer on the left*/
}
#main{
  transition-duration:  0.35s;
}

.main-container {
  display: grid;
  width: 100%;
  grid-template-columns: 0.25fr 4fr 0.25fr;
  margin-top: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  gap: 10px 10px;
}

.grid-item {
  padding: 1.5rem 6rem 1.5rem 1rem; /* this is the size for the box*/
  background-color: #C6DCED;
  box-shadow: 0 6px 8px -7px grey; 
}

/*each heading with in the blue box individually */
.link {
  font-family: "paralucent";
  font-size: 24px;
  font-weight: 500;
  text-decoration: none;
  color: white;
}

/* underline on hover*/
a.link {
	display: block;
	position: relative;
	padding: 0.2em 0;
}

/*Fade in*/
a.link::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 12%;
	height: 0.12em;
	background-color: white;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
}

a.link:hover::after,
a.link:focus::after {
	opacity: 1;
	transform: translate3d(0, 0.25em, 0);
}

/* bar on the right*/
.filterbar {
    height: 100%;
    width: 0; /* this is going to have value once button is clicked*/
    position: fixed;
    z-index: 2;
    top: 71px;
    right: 0;
    background-color: #29347A;
    overflow-x: hidden;
    padding-top: 20px;
    transition-duration: 0.35s;
}

.filterbar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: "paralucent";
    font-weight: 300;
    text-align: left;
    padding-right: 20px;
    font-size: 16px;
    color: #C6DCED;
    display: block;
}

.footer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 0.25fr 4fr 0.25fr;
  text-align: center;
  background-color: white;
  width: 100%;
  bottom: 0;
}

.footer-center p {
  font-family: "paralucent";
  font-size: 14px;
  font-weight: 300;
  padding: 8px;
  color: #29347A;
}

hr {
    width: 100%;
    opacity: 0.5;
}

@media (min-width: 577px) {
  .home-small{
    display: none;
  } 
  
  .home{
  display: unset;
  font-family: "paralucent-condensed";
  font-weight: bold;
  font-size: 30px;
  color: #29347A;
  text-decoration: none;
  }
  
  .grid-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px 10px;
  }
  
  .grid-item {
    padding: 40% 10% 40% 10%; /* this is the size for the box*/
    background-color: #C6DCED;
    box-shadow: 0 6px 8px -7px grey;
 
  }
  .link{
    font-size: 2.2em;
    text-align: center;
  }

/*Fade in*/
a.link::after {
  bottom: 0;
	left: 35%;
	width: 25%;
	height: 0.12em;
}
  
  
  .footer {
  background-color: white;
  width: 100%;
  bottom: 0;
  }
}

@media (min-width: 769px){
  
  .header {
  grid-template-columns: 0.1fr 4fr 0.1fr;
  }
  
  .main-container {
  grid-template-columns: 0.10fr 4fr 0.10fr;
  }
  
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 13px 13px;
  }
  
  .grid-item {
    padding: 40% 10% 40% 10%; /* this is the size for the box*/
    background-color: #C6DCED;
    box-shadow: 0 6px 8px -7px grey;
  }
  

  /*Fade in*/
  a.link::after {
    left: 35%;
    width: 25%;
    height: 0.12em;
    background-color: white;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }
  
  .footer {
  grid-template-columns: 0.10fr 4fr 0.10fr;
}
  
}

@media (min-width: 993px) {
  
  .grid-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  }
  
  .link {
  font-size: 2.5em;
  }
  
}

@media (min-width: 1900px) {
  
  .grid-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  }
  
  .link {
  font-size: 3em;
  }
  
}
